@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);







body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #4c8e0a !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #4c8e0a;
  border-color: #4c8e0a;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #264705;
  border-color: #264705;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #264705 !important;
  border-color: #264705 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #192f03;
  color: #192f03;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #4c8e0a;
  border-color: #4c8e0a;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4c8e0a !important;
  border-color: #4c8e0a !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #4c8e0a !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #4c8e0a;
}
.btn-social:hover {
  background: #4c8e0a;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #4c8e0a;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #4c8e0a;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4c8e0a;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4c8e0a;
}
.lead a,
.lead a:hover {
  color: #4c8e0a;
}
.lead blockquote {
  border-color: #4c8e0a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #8cf028;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #4c8e0a;
}
.scrollToTop_wraper {
  display: none;
}
#header1-37 .mbr-section-lead SPAN {
  font-family: 'Lato', sans-serif;
  font-size: 23px;
  color: #fff171;
}
#header1-37 .mbr-section-lead {
  text-align: center;
}
#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 1.15rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #dda800;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#header3-3a .mbr-section-title,
#header3-3a .mbr-section-subtitle {
  text-align: center;
}
#header3-3g .mbr-section-title,
#header3-3g .mbr-section-subtitle {
  text-align: center;
}
#header3-3g .mbr-section-subtitle {
  font-size: 20px;
  color: #c1c1c1;
}
#header3-3g .mbr-section-title {
  font-size: 23px;
}
#header3-3h .mbr-section-title,
#header3-3h .mbr-section-subtitle {
  text-align: center;
}
#header3-3h .mbr-section-title {
  font-size: 20px;
}
#contacts3-18 P {
  color: #fac51c;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  text-align: left;
}
#contacts3-18 .list-group-text {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 19px;
  text-align: left;
}
#contacts3-18 H4 {
  color: #ffffff;
  font-size: 30px;
}
#contacts3-18 LI {
  color: #fcff00;
  font-size: 16px;
}
#contacts3-18 SPAN {
  color: #ffffff;
  font-size: 16px;
}
#contacts3-18 .btn {
  font-family: 'Lora', serif;
}
#contacts3-18 UL {
  text-align: left;
}
#contacts3-18 .list-group-text B {
  font-size: 23px;
  color: #ffffff;
}
#header3-3r .mbr-section-title,
#header3-3r .mbr-section-subtitle {
  text-align: center;
}
#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 1.15rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #dda800;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}

#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 1.15rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #dda800;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#header2-h .mbr-section-title {
  text-align: left;
  font-size: 48px;
}
#header2-h .mbr-section-text {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 1.15rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #dda800;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#features1-l .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box3-m .mbr-section-title,
#msg-box3-m p {
  color: #000;
}
#msg-box3-m .lead P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: center;
}
#msg-box3-m .mbr-section-title {
  color: #ffffff;
  text-align: center;
}

#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 1.15rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #dda800;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#features1-j .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-j .mbr-cards-col:nth-child(even) .card-subtitle SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-w .navbar-caption {
  color: #ffffff;
}
#menu-w .navbar-toggler {
  color: #ffffff;
}
#menu-w .close-icon::before,
#menu-w .close-icon::after {
  background-color: #ffffff;
}
#menu-w .link,
#menu-w .dropdown-item {
  color: #ffffff;
}
#menu-w .link {
  font-size: 1.15rem;
}
#menu-w .dropdown-item,
#menu-w .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-w .link:hover,
#menu-w .dropdown-item:hover,
#menu-w .link:focus,
#menu-w .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-menu {
  background: #dda800;
}
#menu-w .nav-dropdown-sm .link:focus,
#menu-w .nav-dropdown-sm .link:hover,
#menu-w .nav-dropdown-sm .dropdown-item:focus,
#menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-w .navbar,
#menu-w .nav-dropdown-sm,
#menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-w .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-w .bg-color.transparent.opened .link:hover,
#menu-w .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-w .link[aria-expanded="true"],
#menu-w .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#features1-p .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-p .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-p .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-p .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}
#features1-p .mbr-cards-col:nth-child(odd) .card-title {
  color: #000000;
}
#features1-s .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}



#menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-y .navbar-caption {
  color: #ffffff;
}
#menu-y .navbar-toggler {
  color: #ffffff;
}
#menu-y .close-icon::before,
#menu-y .close-icon::after {
  background-color: #ffffff;
}
#menu-y .link,
#menu-y .dropdown-item {
  color: #ffffff;
}
#menu-y .link {
  font-size: 1.15rem;
}
#menu-y .dropdown-item,
#menu-y .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-y .link:hover,
#menu-y .dropdown-item:hover,
#menu-y .link:focus,
#menu-y .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-menu {
  background: #dda800;
}
#menu-y .nav-dropdown-sm .link:focus,
#menu-y .nav-dropdown-sm .link:hover,
#menu-y .nav-dropdown-sm .dropdown-item:focus,
#menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-y .navbar,
#menu-y .nav-dropdown-sm,
#menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-y .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-y .bg-color.transparent.opened .link:hover,
#menu-y .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#contacts3-15 P {
  color: #fac51c;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  text-align: left;
}
#contacts3-15 .list-group-text {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 19px;
  text-align: left;
}
#contacts3-15 H4 {
  color: #ffffff;
  font-size: 30px;
}
#contacts3-15 LI {
  color: #fcff00;
  font-size: 16px;
}
#contacts3-15 SPAN {
  color: #ffffff;
  font-size: 16px;
}
#contacts3-15 .btn {
  font-family: 'Lora', serif;
}
#contacts3-15 UL {
  text-align: left;
}
#contacts3-15 .list-group-text B {
  font-size: 23px;
  color: #ffffff;
}
#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
}
#menu-10 .navbar-toggler {
  color: #ffffff;
}
#menu-10 .close-icon::before,
#menu-10 .close-icon::after {
  background-color: #ffffff;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #ffffff;
}
#menu-10 .link {
  font-size: 1.15rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #dda800;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#form1-14 .form-control-label {
  color: #232323;
}
#form1-14 .mbr-section-title {
  text-align: center;
}



#menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-16 .navbar-caption {
  color: #ffffff;
}
#menu-16 .navbar-toggler {
  color: #ffffff;
}
#menu-16 .close-icon::before,
#menu-16 .close-icon::after {
  background-color: #ffffff;
}
#menu-16 .link,
#menu-16 .dropdown-item {
  color: #ffffff;
}
#menu-16 .link {
  font-size: 1.15rem;
}
#menu-16 .dropdown-item,
#menu-16 .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-16 .link:hover,
#menu-16 .dropdown-item:hover,
#menu-16 .link:focus,
#menu-16 .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-menu {
  background: #dda800;
}
#menu-16 .nav-dropdown-sm .link:focus,
#menu-16 .nav-dropdown-sm .link:hover,
#menu-16 .nav-dropdown-sm .dropdown-item:focus,
#menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-16 .navbar,
#menu-16 .nav-dropdown-sm,
#menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-16 .bg-color.transparent.opened .link:hover,
#menu-16 .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#contacts3-18 P {
  color: #fac51c;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  text-align: left;
}
#contacts3-18 .list-group-text {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 19px;
  text-align: left;
}
#contacts3-18 H4 {
  color: #ffffff;
  font-size: 30px;
}
#contacts3-18 LI {
  color: #fcff00;
  font-size: 16px;
}
#contacts3-18 SPAN {
  color: #ffffff;
  font-size: 16px;
}
#contacts3-18 .btn {
  font-family: 'Lora', serif;
}
#contacts3-18 UL {
  text-align: left;
}
#contacts3-18 .list-group-text B {
  font-size: 23px;
  color: #ffffff;
}
#menu-1g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1g .navbar-caption {
  color: #ffffff;
}
#menu-1g .navbar-toggler {
  color: #ffffff;
}
#menu-1g .close-icon::before,
#menu-1g .close-icon::after {
  background-color: #ffffff;
}
#menu-1g .link,
#menu-1g .dropdown-item {
  color: #ffffff;
}
#menu-1g .link {
  font-size: 0.95rem;
}
#menu-1g .dropdown-item,
#menu-1g .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1g .link:hover,
#menu-1g .dropdown-item:hover,
#menu-1g .link:focus,
#menu-1g .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-menu {
  background: #dda800;
}
#menu-1g .nav-dropdown-sm .link:focus,
#menu-1g .nav-dropdown-sm .link:hover,
#menu-1g .nav-dropdown-sm .dropdown-item:focus,
#menu-1g .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-1g .navbar,
#menu-1g .nav-dropdown-sm,
#menu-1g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1g .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-1g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1g .bg-color.transparent.opened .link:hover,
#menu-1g .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu-1n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1n .navbar-caption {
  color: #ffffff;
}
#menu-1n .navbar-toggler {
  color: #ffffff;
}
#menu-1n .close-icon::before,
#menu-1n .close-icon::after {
  background-color: #ffffff;
}
#menu-1n .link,
#menu-1n .dropdown-item {
  color: #ffffff;
}
#menu-1n .link {
  font-size: 1.15rem;
}
#menu-1n .dropdown-item,
#menu-1n .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-1n .link:hover,
#menu-1n .dropdown-item:hover,
#menu-1n .link:focus,
#menu-1n .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-menu {
  background: #dda800;
}
#menu-1n .nav-dropdown-sm .link:focus,
#menu-1n .nav-dropdown-sm .link:hover,
#menu-1n .nav-dropdown-sm .dropdown-item:focus,
#menu-1n .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-1n .navbar,
#menu-1n .nav-dropdown-sm,
#menu-1n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1n .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-1n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1n .bg-color.transparent.opened .link:hover,
#menu-1n .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-1n .link[aria-expanded="true"],
#menu-1n .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
}
#menu-1s .navbar-toggler {
  color: #ffffff;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #ffffff;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #ffffff;
}
#menu-1s .link {
  font-size: 1.15rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #dda800;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-1s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#menu-1v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1v .navbar-caption {
  color: #ffffff;
}
#menu-1v .navbar-toggler {
  color: #ffffff;
}
#menu-1v .close-icon::before,
#menu-1v .close-icon::after {
  background-color: #ffffff;
}
#menu-1v .link,
#menu-1v .dropdown-item {
  color: #ffffff;
}
#menu-1v .link {
  font-size: 1.15rem;
}
#menu-1v .dropdown-item,
#menu-1v .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-1v .link:hover,
#menu-1v .dropdown-item:hover,
#menu-1v .link:focus,
#menu-1v .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-menu {
  background: #dda800;
}
#menu-1v .nav-dropdown-sm .link:focus,
#menu-1v .nav-dropdown-sm .link:hover,
#menu-1v .nav-dropdown-sm .dropdown-item:focus,
#menu-1v .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-1v .navbar,
#menu-1v .nav-dropdown-sm,
#menu-1v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1v .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-1v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1v .bg-color.transparent.opened .link:hover,
#menu-1v .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-1v .link[aria-expanded="true"],
#menu-1v .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1y .navbar-caption {
  color: #ffffff;
}
#menu-1y .navbar-toggler {
  color: #ffffff;
}
#menu-1y .close-icon::before,
#menu-1y .close-icon::after {
  background-color: #ffffff;
}
#menu-1y .link,
#menu-1y .dropdown-item {
  color: #ffffff;
}
#menu-1y .link {
  font-size: 0.95rem;
}
#menu-1y .dropdown-item,
#menu-1y .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-1y .link:hover,
#menu-1y .dropdown-item:hover,
#menu-1y .link:focus,
#menu-1y .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-menu {
  background: #dda800;
}
#menu-1y .nav-dropdown-sm .link:focus,
#menu-1y .nav-dropdown-sm .link:hover,
#menu-1y .nav-dropdown-sm .dropdown-item:focus,
#menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-1y .navbar,
#menu-1y .nav-dropdown-sm,
#menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-1y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1y .bg-color.transparent.opened .link:hover,
#menu-1y .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-1y .link[aria-expanded="true"],
#menu-1y .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-22 .navbar-caption {
  color: #ffffff;
}
#menu-22 .navbar-toggler {
  color: #ffffff;
}
#menu-22 .close-icon::before,
#menu-22 .close-icon::after {
  background-color: #ffffff;
}
#menu-22 .link,
#menu-22 .dropdown-item {
  color: #ffffff;
}
#menu-22 .link {
  font-size: 0.95rem;
}
#menu-22 .dropdown-item,
#menu-22 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-22 .link:hover,
#menu-22 .dropdown-item:hover,
#menu-22 .link:focus,
#menu-22 .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-menu {
  background: #dda800;
}
#menu-22 .nav-dropdown-sm .link:focus,
#menu-22 .nav-dropdown-sm .link:hover,
#menu-22 .nav-dropdown-sm .dropdown-item:focus,
#menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-22 .navbar,
#menu-22 .nav-dropdown-sm,
#menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-22 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-22 .bg-color.transparent.opened .link:hover,
#menu-22 .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu-29 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-29 .navbar-caption {
  color: #ffffff;
}
#menu-29 .navbar-toggler {
  color: #ffffff;
}
#menu-29 .close-icon::before,
#menu-29 .close-icon::after {
  background-color: #ffffff;
}
#menu-29 .link,
#menu-29 .dropdown-item {
  color: #ffffff;
}
#menu-29 .link {
  font-size: 0.95rem;
}
#menu-29 .dropdown-item,
#menu-29 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-29 .link:hover,
#menu-29 .dropdown-item:hover,
#menu-29 .link:focus,
#menu-29 .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-menu {
  background: #dda800;
}
#menu-29 .nav-dropdown-sm .link:focus,
#menu-29 .nav-dropdown-sm .link:hover,
#menu-29 .nav-dropdown-sm .dropdown-item:focus,
#menu-29 .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-29 .navbar,
#menu-29 .nav-dropdown-sm,
#menu-29 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-29 .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-29 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-29 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-29 .bg-color.transparent.opened .link:hover,
#menu-29 .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-29 .link[aria-expanded="true"],
#menu-29 .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu-2h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2h .navbar-caption {
  color: #ffffff;
}
#menu-2h .navbar-toggler {
  color: #ffffff;
}
#menu-2h .close-icon::before,
#menu-2h .close-icon::after {
  background-color: #ffffff;
}
#menu-2h .link,
#menu-2h .dropdown-item {
  color: #ffffff;
}
#menu-2h .link {
  font-size: 0.85rem;
}
#menu-2h .dropdown-item,
#menu-2h .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-2h .link:hover,
#menu-2h .dropdown-item:hover,
#menu-2h .link:focus,
#menu-2h .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-2h .link[aria-expanded="true"],
#menu-2h .dropdown-menu {
  background: #dda800;
}
#menu-2h .nav-dropdown-sm .link:focus,
#menu-2h .nav-dropdown-sm .link:hover,
#menu-2h .nav-dropdown-sm .dropdown-item:focus,
#menu-2h .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-2h .navbar,
#menu-2h .nav-dropdown-sm,
#menu-2h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2h .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-2h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2h .bg-color.transparent.opened .link:hover,
#menu-2h .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-2h .link[aria-expanded="true"],
#menu-2h .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#menu-2l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2l .navbar-caption {
  color: #ffffff;
}
#menu-2l .navbar-toggler {
  color: #ffffff;
}
#menu-2l .close-icon::before,
#menu-2l .close-icon::after {
  background-color: #ffffff;
}
#menu-2l .link,
#menu-2l .dropdown-item {
  color: #ffffff;
}
#menu-2l .link {
  font-size: 0.95rem;
}
#menu-2l .dropdown-item,
#menu-2l .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#menu-2l .link:hover,
#menu-2l .dropdown-item:hover,
#menu-2l .link:focus,
#menu-2l .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-2l .link[aria-expanded="true"],
#menu-2l .dropdown-menu {
  background: #dda800;
}
#menu-2l .nav-dropdown-sm .link:focus,
#menu-2l .nav-dropdown-sm .link:hover,
#menu-2l .nav-dropdown-sm .dropdown-item:focus,
#menu-2l .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-2l .navbar,
#menu-2l .nav-dropdown-sm,
#menu-2l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2l .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-2l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2l .bg-color.transparent.opened .link:hover,
#menu-2l .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-2l .link[aria-expanded="true"],
#menu-2l .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
#menu-2z .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2z .navbar-caption {
  color: #ffffff;
}
#menu-2z .navbar-toggler {
  color: #ffffff;
}
#menu-2z .close-icon::before,
#menu-2z .close-icon::after {
  background-color: #ffffff;
}
#menu-2z .link,
#menu-2z .dropdown-item {
  color: #ffffff;
}
#menu-2z .link {
  font-size: 0.85rem;
}
#menu-2z .dropdown-item,
#menu-2z .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-2z .link:hover,
#menu-2z .dropdown-item:hover,
#menu-2z .link:focus,
#menu-2z .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-2z .link[aria-expanded="true"],
#menu-2z .dropdown-menu {
  background: #dda800;
}
#menu-2z .nav-dropdown-sm .link:focus,
#menu-2z .nav-dropdown-sm .link:hover,
#menu-2z .nav-dropdown-sm .dropdown-item:focus,
#menu-2z .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-2z .navbar,
#menu-2z .nav-dropdown-sm,
#menu-2z .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2z .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-2z .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2z .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2z .bg-color.transparent.opened .link:hover,
#menu-2z .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-2z .link[aria-expanded="true"],
#menu-2z .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#menu-3b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3b .navbar-caption {
  color: #ffffff;
}
#menu-3b .navbar-toggler {
  color: #ffffff;
}
#menu-3b .close-icon::before,
#menu-3b .close-icon::after {
  background-color: #ffffff;
}
#menu-3b .link,
#menu-3b .dropdown-item {
  color: #ffffff;
}
#menu-3b .link {
  font-size: 0.85rem;
}
#menu-3b .dropdown-item,
#menu-3b .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-3b .link:hover,
#menu-3b .dropdown-item:hover,
#menu-3b .link:focus,
#menu-3b .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-3b .link[aria-expanded="true"],
#menu-3b .dropdown-menu {
  background: #dda800;
}
#menu-3b .nav-dropdown-sm .link:focus,
#menu-3b .nav-dropdown-sm .link:hover,
#menu-3b .nav-dropdown-sm .dropdown-item:focus,
#menu-3b .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-3b .navbar,
#menu-3b .nav-dropdown-sm,
#menu-3b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3b .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-3b .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3b .bg-color.transparent.opened .link:hover,
#menu-3b .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-3b .link[aria-expanded="true"],
#menu-3b .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#menu-3k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3k .navbar-caption {
  color: #ffffff;
}
#menu-3k .navbar-toggler {
  color: #ffffff;
}
#menu-3k .close-icon::before,
#menu-3k .close-icon::after {
  background-color: #ffffff;
}
#menu-3k .link,
#menu-3k .dropdown-item {
  color: #ffffff;
}
#menu-3k .link {
  font-size: 1.15rem;
}
#menu-3k .dropdown-item,
#menu-3k .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-3k .link:hover,
#menu-3k .dropdown-item:hover,
#menu-3k .link:focus,
#menu-3k .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-3k .link[aria-expanded="true"],
#menu-3k .dropdown-menu {
  background: #dda800;
}
#menu-3k .nav-dropdown-sm .link:focus,
#menu-3k .nav-dropdown-sm .link:hover,
#menu-3k .nav-dropdown-sm .dropdown-item:focus,
#menu-3k .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-3k .navbar,
#menu-3k .nav-dropdown-sm,
#menu-3k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3k .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-3k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3k .bg-color.transparent.opened .link:hover,
#menu-3k .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-3k .link[aria-expanded="true"],
#menu-3k .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
#menu-3p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3p .navbar-caption {
  color: #ffffff;
}
#menu-3p .navbar-toggler {
  color: #ffffff;
}
#menu-3p .close-icon::before,
#menu-3p .close-icon::after {
  background-color: #ffffff;
}
#menu-3p .link,
#menu-3p .dropdown-item {
  color: #ffffff;
}
#menu-3p .link {
  font-size: 1.15rem;
}
#menu-3p .dropdown-item,
#menu-3p .nav-dropdown-sm .link {
  font-size: 1.245rem;
}
#menu-3p .link:hover,
#menu-3p .dropdown-item:hover,
#menu-3p .link:focus,
#menu-3p .dropdown-item:focus {
  color: #4c8e0a;
}
#menu-3p .link[aria-expanded="true"],
#menu-3p .dropdown-menu {
  background: #dda800;
}
#menu-3p .nav-dropdown-sm .link:focus,
#menu-3p .nav-dropdown-sm .link:hover,
#menu-3p .nav-dropdown-sm .dropdown-item:focus,
#menu-3p .nav-dropdown-sm .dropdown-item:hover {
  background: #ffc202!important;
}
#menu-3p .navbar,
#menu-3p .nav-dropdown-sm,
#menu-3p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3p .nav-dropdown-sm .dropdown-menu {
  background: #ffc611;
}
#menu-3p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3p .bg-color.transparent.opened .link:hover,
#menu-3p .bg-color.transparent.opened .link:focus {
  color: #4c8e0a;
}
#menu-3p .link[aria-expanded="true"],
#menu-3p .dropdown-item[aria-expanded="true"] {
  color: #4c8e0a!important;
}
